#terminal-window {
	background: transparent; }
		#terminal-window headerbar > box > button.popup {
			min-width: 0px;
			padding-left: 4px;
			padding-right: 4px;	}

		#terminal-tabs tab,
		#terminal-tabs tab.reorderable-page {
			outline: none;
			min-width: 160px; }

		#terminal-tabs tabs {
			margin: 0px;
			padding-left: 0px;
			padding-right: 0px; }
		#terminal-tabs button.tab-close-button {
			padding: 0px;
			margin: 0px;

			min-height: 20px;
			min-width: 20px; }

		#terminal-tabs header {
			border-width: 0px;
			padding: 0px;
			margin: 0px; }

		#terminal-tabs header windowhandle headerbar {
			background: none;
			box-shadow: none;
			border-width: 0px;
			min-width: 20px; }
				.tab-button {
					min-width: 30px;
					padding: 0px; }
		#secondary-titlebar {
			border-width: 0px; }