#terminal-window.{{colorscheme}} #terminal-tabs tab,
#terminal-window.{{colorscheme}} #terminal-tabs tab.reorderable-page {
    outline: none;
    margin: 0px;
    border-width: 0px;
    background: none;
    box-shadow: none; }

#terminal-window.{{colorscheme}} #terminal-tabs tab:checked,
#terminal-window.{{colorscheme}} #terminal-tabs tab:checked.reorderable-page {
    background: none;
    box-shadow: none;
    margin: 0px;
    box-shadow: none;
    border-width: 0px;
    background-color: #{{tab-active}}; }

#terminal-window.{{colorscheme}} #terminal-tabs header {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    box-shadow: none;
    background: none;
    background-color: #{{titlebar}}; }

#terminal-window.{{colorscheme}} #secondary-titlebar {
    background: none;
    box-shadow: none;
    border-color: transparent;
    background-color: #{{tab-active}}; }