#terminal-window {
	background: transparent; }
		#terminal-window headerbar > box > button.popup {
			min-width: 0px;
			padding-left: 4px;
			padding-right: 4px;	}

		#terminal-tabs tab,
		#terminal-tabs tab.reorderable-page {
			min-width: 160px;
			outline: none;
			margin: 0px;
			border-width: 0px;
			background: none;
			box-shadow: none; }
		#terminal-tabs tab:checked,
		#terminal-tabs tab:checked.reorderable-page {
			margin: 0px;
			box-shadow: none;
			border-width: 0px;
			background-color: #{{tab-active}}; }

		#terminal-tabs tabs {
			margin: 0px;
			padding-left: 0px;
			padding-right: 0px; }
		#terminal-tabs button.tab-close-button {
			padding: 0px;
			margin: 0px;

			min-height: 20px;
			min-width: 20px; }

		#terminal-tabs header {
			padding: 0px;
			margin: 0px;
			border-width: 0px;
			box-shadow: none;
			background: none;
			background-color: #{{titlebar}}; }
		#terminal-tabs header windowhandle headerbar {
			background: none;
			box-shadow: none;
			border-width: 0px;
			min-width: 20px; }
				.tab-button {
					min-width: 30px;
					padding: 0px; }
	#secondary-titlebar {
		background: none;
		box-shadow: none;
		border-color: transparent;
		background-color: #{{tab-active}}; }